*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* --primary-color: rgb(20, 149, 143); */
    --primary-color: rgb(131, 183, 53);
    --primary-dark-color: rgb(91, 131, 30);
}
.container{
    max-width: 1320px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}


.product-list {
    background-color: rgb(244, 255, 232);
    color: rgb(0, 0, 0, 0.7);
}

.text-light {
    color: rgb(0, 0, 0, 0.6);
}

.pb-2 {
    padding-bottom: 24px;
}

h3 {
    margin-top: 10px;
    color: var(--primary-color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

h5 {
    font-weight: 500;
    margin: 0px 0 8px;
}

p {
    display: -webkit-box;
    font-size: 14px;
    margin: 5px 0;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card {
    height: 100%;
    background-color: #fff;
    padding: 20px 10px;
    transition: all .3s ease;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(219, 219, 219);
}

.card:hover {
    box-shadow: 0px 2px 10px 5px rgb(203, 221, 185);
}

.card:hover img {
    scale: 1.1;
}

.original-price {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}

.discount {
    color: rgba(255, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
}

.card img {
    display: block;
    transition: all .3s ease;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.card-img {
    position: relative;
    overflow: hidden;
}

.card-float {
    background-color: rgb(255, 255, 255, 0.9);
    font-size: 12px;
    position: absolute;
    left: 10px;
    transform: translateY(100%);
    bottom: 0px;
    padding: 2px 5px;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.card-float i {
    color: var(--primary-color);
    font-size: 14px;
}

.card:hover .card-float {
    transform: translateY(-10px);
    visibility: visible;
    opacity: 1;
}

.btn {
    text-align: center;
    margin-top: 20px;
}

.btn button {
    padding: 6px 25px;
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 -2px 2px 0 var(--primary-dark-color);
    transition: all .3s ease;
}

.btn i,
.btn button {
    font-size: 16px;
    color: #fff;
}

.btn button:hover {
    box-shadow: inset 0 -30px 2px 0 var(--primary-dark-color);
    /* background-color: var(--primary-dark-color); */
}
input{
    padding: 5px 10px;
    border: 1px solid gray;
    outline: none;
}

.search{
    padding: 20px 0;
    text-align: center;
}

.color{
    color: cornflowerblue;
}